<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/web/plugins/jquery.min.js"></script>
<script src="/web/plugins/nouislider/nouislider.min.js"></script>
<script src="/web/plugins/popper.min.js"></script>
<script src="/web/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="/web/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/web/plugins/imagesloaded.pkgd.min.js"></script>
<script src="/web/plugins/masonry.pkgd.min.js"></script>
<script src="/web/plugins/isotope.pkgd.min.js"></script>
<script src="/web/plugins/jquery.matchHeight-min.js"></script>
<script src="/web/plugins/slick/slick/slick.min.js"></script>
<script src="/web/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="/web/plugins/slick-animation.min.js"></script>
<script src="/web/plugins/lightGallery-master/dist/js/lightgallery-all.min.js"></script>
<script src="/web/plugins/sticky-sidebar/dist/sticky-sidebar.min.js"></script>
<script src="/web/plugins/select2/dist/js/select2.full.min.js"></script>
<script src="/web/plugins/gmap3.min.js"></script>
<!-- custom scripts-->
<script src="/web/js/main.js"></script>
<script defer src="/FetchDataApi.js"></script>
<script defer src="/web/providers/HomePageProvider.js"></script>
<script defer src="/web/js/claford.js"></script>
</body>

</html>