<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= name %>
    </h1>

    <script>
        fetch('http://localhost:4300/api/v1/products')
            .then(res => res.json())
            .then(json => {
                console.log("First user in the array:");
                console.log(json);
                console.log("Name of the first user in the array:");
                // console.log(json[0].name);
            });
    </script>
</body>


</html>